Django==1.9.7
django-auth0==0.0.2
django-smuggler==0.7.0
django-activity-stream==0.6.2
django-cors-headers==1.1.0
django-el-pagination==2.1.2
django-model-utils==2.5.1
django-notifications-hq==1.2
django-smuggler==0.7.0
django-widget-tweaks==1.4.1
djangorestframework==3.4.4
jsonfield==1.0.3
requests==2.11.0
