{% extends 'app/dashboard/dashboard_template.html' %}
{% load humanize %}
{% block heading %}
    <section class="content-header">
        <h1>
            Dashboard
            <small>Messages</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'app:dashboard' %}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">&nbsp;Messages</li>
        </ol>
    </section>
{% endblock %}


{% block content %}

    <section class="content">

        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'app:dashboard_messages_compose' %}" class="btn btn-primary btn-block margin-bottom">Compose</a>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Folders</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox
                                <span class="label label-primary pull-right">{{ request.user.get_no_messages|default_if_none:'0 new' }}</span></a></li>
                            <li><a href="{% url 'app:dashboard_sent' %}"><i class="fa fa-envelope-o"></i> Sent</a></li>
                            <li><a href="{% url 'app:dashboard_junk' %}"><i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->

            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inbox</h3>


                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                            <table class="table table-responsive table-hover table-striped" id="mail_table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th aria-sort="descending">Date</th>
                                    <th>Sender</th>
                                    <th>Message</th>
                                    <th>Read</th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for message in messages %}
                                    <tr>
                                        <td class="mailbox-star"><a href=""><i class="text-green fa fa-folder-open{% if not message.read %} text-orange   {% endif %} "></i></a></td>

                                        <td class="mailbox-date">{{ message.date|date }}</td>

                                        <td class="mailbox-name"><a href="{% url 'app:dashboard_messages_read' message.id %}" class="text-bold">{{ message.sender.full_name }}</a></td>
                                        <td class="mailbox-subject"><b>{{ message.subject }}</b> -  {{ message.message|striptags|truncatechars:20 }}...
                                        </td>

                                        <td><a href="{% url 'app:delete_message' message.id %}" role="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>
                                        </a></td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                            <!-- /.table -->

                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer no-padding">

                    </div>
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->


    </section>

{% endblock %}