<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <!-- Styles -->

    <!-- Bootstrap -->
    <link type="text/css" href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Forms -->
    <link type="text/css" href="{% static 'app/css/jquery.idealforms.css' %}" rel="stylesheet">
    <!-- Select  -->
    <link type="text/css" href={% static 'app/css/jquery.idealselect.css' %} rel="stylesheet">
    <!-- Slicknav  -->
    <link type="text/css" href={% static 'app/css/slicknav.css' %} rel="stylesheet">
    <!-- Main style -->
    <link type="text/css" href={% static 'app/css/style.css' %} rel="stylesheet">

    <!-- Modernizr -->
    <script src={% static 'app/js/modernizr.js' %}></script>

    <!-- Fonts -->
    <link type="text/css" href={% static 'app/css/font-awesome.min.css' %} rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <title>MY RIDE</title>
</head>
<body>
<header class="header">

    <div class="top-menu">

        <section class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="user-log">

                        <a data-toggle="modal" data-target="#loginModal">
                            Log in
                        </a> /
                        <a data-toggle="modal" href="{% url 'app:sign_up' %}">
                            Sign up
                        </a>

                    </div><!-- end .user-log -->
                </div><!-- end .col-sm-4 -->

                <div class="col-md-8 col-sm-8 col-xs-12">

                    <ul class="social-icons">
                        <li>
                            <a class="" href="https://s3.amazonaws.com/gonative/static/5783c9436256a59e1ab1ec8a/app-release.apk">
                                <i class="fa fa-android fa-2x"></i>&nbsp;
                            </a>
                        </li>

                    </ul>

                </div><!-- end .col-sm-8 -->

            </div><!-- end .row -->
        </section><!-- end .container -->

    </div><!-- end .top-menu -->

    <div class="main-baner">

        <div class="background parallax clearfix" style="background-image:url({% static 'app/img/tumblr_n7yhhvUQtx1st5lhmo1_1280.jpg'%});" data-img-width="1600" data-img-height="1064">

            <div class="main-parallax-content">

                <div class="second-parallax-content">

                    <section class="container">

                        <div class="row">

                            <div class="main-header-container clearfix">

                                <div class="col-md-4 col-sm-12 col-xs-12">

                                    <div class="logo">
                                        <h1>My ride</h1>
                                    </div><!-- end .logo -->

                                </div><!-- end .col-sm-4 -->

                                <div class="col-md-8 col-sm-8 col-xs-12">

                                    <nav id="nav" class="main-navigation">

                                        <ul class="navigation">
                                            <li>
                                                <a href="{% url 'app:index' %}">Home</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'app:ride' %}">ride</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'app:about' %}">About</a>
                                            </li>
                                            <li>
                                                <a href="http://www.theboynamedme.com">Blog</a>
                                            </li>
                                            <li>
                                                <a href="#">Contact</a>
                                            </li>
                                        </ul>

                                    </nav><!-- end .main-navigation -->

                                </div><!-- end .col-md-8 -->

                            </div><!-- end .main-header-container -->


                        </div><!-- end .row -->

                    </section><!-- end .container -->

                </div><!-- end .second-parallax-content -->

            </div><!-- end .main-parallax-content -->

        </div><!-- end .background .parallax -->

    </div><!-- end .main-baner -->

</header><!-- end .header -->


{% block body %}

{% endblock %}

<footer id="footer">

    <div class="footer-copyright">

        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                    Copyright 2016 by Othree<br>
                    <span >+234-902-0277-797 </span><br>
                    <span >daviduchenna@outlook.com </span><br>

                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                    Quick Links<br>
                    <a href="{% url 'app:about' %}">About</a><br>
                    <a href="{% url 'app:contact' %}">Contact</a><br>
                    <a href="{% url 'app:login' %}">Login/Signup</a><br>
                    <a href="http://www.theboynamedme.com">Blog</a><br>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                    On Social Media<br>
                    <a href="http://www.facebook.com/obi.uchenna.98"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;
                    <a href="http://www.instagram.com/obi_is_a_boi"><i class="fa fa-instagram fa-2x"></i></a>&nbsp;
                    <a href="http://www.twitter.com/obi_is_a_boi"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;
                </div>

            </div><!-- end .row -->
        </div><!-- end .container -->

    </div><!-- end .footer-copyright -->

</footer><!-- end #footer -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div><!-- end .modal-header -->
                                    {% if error_message %}
                                        <p class="error alert-danger"><strong>{{ error_message }}</strong></p>
                                    {% endif %}
            <div class="modal-body">
                <form action="{% url 'app:login_user' %}" novalidate autocomplete="off" class="idealforms login" method="post" >
                     {% csrf_token %}
                    <div class="log-header">
                        <span class="log-in">Log in</span>
                    </div>

                    <div class="field">
                        <input name="username" type="text" placeholder="Username">
                        <span class="error"></span>
                    </div>

                    <div class="field">
                        <input type="password" name="password" placeholder="Password">
                        <span class="error"></span>
                    </div>

                    <div class="field buttons">
                        <button type="submit" class="submit btn green-color">Log in</button>
                    </div>


                    <div class="clearfix"></div>

                </form><!-- end .login -->
            </div><!-- end .modal-body -->

        </div><!-- end .modal-content -->
    </div><!-- end .modal-dialog -->
</div><!-- end .modal -->




{% load staticfiles %}
<!-- Javascript -->
<script type="text/javascript" src={% static 'app/js/jquery.js' %} ></script>
<!-- Bootstrap -->
<script type="text/javascript" src={% static 'app/js/bootstrap.min.js' %}></script>
<!-- Main jQuery -->
<script type="text/javascript" src={% static 'app/js/jquery.main.js' %}></script>
<!-- Form -->
<script type="text/javascript" src={% static 'app/js/jquery.idealforms.min.js' %}></script>
<script type="text/javascript" src={% static 'app/js/jquery.idealselect.min.js' %}></script>
<script type="text/javascript" src={% static 'app/js/jquery-ui-1.10.4.custom.min.js' %}></script>
<!-- Menu -->
<script type="text/javascript" src={% static 'app/js/hoverIntent.js' %}></script>
<script type="text/javascript" src={% static 'app/js/superfish.js' %}></script>
<!-- Counter-Up  -->
<script type="text/javascript" src="{% static 'app/js/waypoints.min.js' %}"></script>
<script type="text/javascript" src={% static 'app/js/jquery.counterup.min.js' %}></script>

<!-- Slicknav  -->
<script type="text/javascript" src={% static 'app/js/jquery.slicknav.min.js' %}></script>


</body>
</html>