{% extends 'app/base_template.html' %}



{% block body %}

    <section class="main-content">

        <div class="container">
            <div class="row">

                <div class="page-content">

                    <div class="services clearfix">

                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="page-sub-title textcenter">
                                <h2>What You Can Do</h2>
                                <div class="line"></div>
                            </div><!-- end .page-sub-title -->

                        </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

                        <div class="col-md-4 col-sm-4 col-xs-12">

                            <article class="service">

                                <i class="fa fa-car"></i>

                                <h3>Share your ride</h3>
                                <p>Are you getting sick of traveling alone and spent so much money on gas? Share your ride today,and forget about this problems.</p>


                            </article><!-- end .service -->

                        </div><!-- end .col-md-4 -->

                        <div class="col-md-4 col-sm-4 col-xs-12">

                            <article class="service">

                                <i class="fa fa-users"></i>

                                <h3>Find new friends</h3>
                                <p>Finding new friends is easier than ever,nothing makes better friendship than spending few hours casually chatting with some interesting people.</p>

                            </article><!-- end .service -->

                        </div><!-- end .col-md-4 -->

                        <div class="col-md-4 col-sm-4 col-xs-12">

                            <article class="service">

                                <i class="fa fa-map-marker"></i>

                                <h3>Go to new places</h3>
                                <p> Find some new favourite place to chill out,you have no longer got excuse for not travelling and discovering. </p>

                            </article><!-- end .service -->

                        </div><!-- end .col-md-4 -->

                    </div><!-- end .services -->

                    <div class="clearfix"></div>

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="background parallax" style="background-image:url('img/XWBIL5.jpg');" data-img-width="1600" data-img-height="1064">

                            <div class="main-parallax-content">

                                <div class="second-parallax-content">

                                    <div class="parallax-content clearfix">

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="site-stat">
                                                <span class="counter">5,000</span>
                                                <span>Happy users</span>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="site-stat">
                                                <span class="counter">7,000</span>
                                                <span>Successful rides</span>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="site-stat">
                                                <span class="counter">600,000</span>
                                                <span>Miles traveled in a good company</span>
                                            </div>
                                        </div>

                                    </div><!-- end .parallax-content -->

                                </div><!-- end .main-parallax-content -->

                            </div><!-- end .paralax -->

                        </div><!-- end .fullscreen .background .parallax -->

                    </div><!-- end .col-md-12 -->

                    <div class="clearfix"></div>





                </div><!-- end .page-content -->

            </div><!-- end .row -->
        </div><!-- end .container -->

    </section><!-- end .main-content -->


{% endblock %}