{% extends 'app/user_template.html' %}
{% load staticfiles %}
{% block username %}
    {{ request.user.username }}
{% endblock %}

{% block navigation %}
    {% include 'app/driver_template.html' %}
{% endblock %}

{% block body %}

    <section class="main-content">

        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="page-sub-title textcenter">
                        <h2>{{ user.username }}'s RIDE REQUESTS</h2>

                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->
                <div class="col-md-12 col-sm-12 col-xs-12">


                    <div class="page-content">

                        <div class="rides-list">
                            {% for pass_request in pass_requests %}
                                <article class="ride-box clearfix">

                                    <div class="ride-content">
                                        <h3><a href="{{ pass_request.get_absolute_url }}">{{ pass_request }}</a></h3>
                                    </div>

                                    <ul class="ride-meta">

                                        <li class="ride-date">
                                            <a  class="tooltip-link" data-original-title="Source to Destination"
                                               data-toggle="tooltip">
                                                <i class="fa fa-location-arrow"></i>
                                                from {{ pass_request.pick }} to  {{ pass_request.dest }}
                                            </a>
                                        </li><!-- end .ride-date -->


                                        {% if pass_request.status == 'approved' %}
                                            <li class="ride-people">
                                                <a  class="tooltip-link " data-original-title="status"
                                                    data-toggle="tooltip" style="color: green">
                                                    <i class="fa fa-user" ></i>&nbsp;{{ pass_request.status }}

                                                </a>
                                            </li><!-- end .ride-people -->
                                        {% elif pass_request.status == 'denied' %}
                                            <li class="ride-people">
                                                <a  class="tooltip-link " data-original-title="status"
                                                    data-toggle="tooltip" style="color: red">
                                                    <i class="fa fa-user" ></i>&nbsp;{{ pass_request.status }}

                                                </a>
                                            </li><!-- end .ride-people -->
                                        {% else %}
                                            <li class="ride-people">
                                                <a  class="tooltip-link " data-original-title="status"
                                                    data-toggle="tooltip" style="color: black">
                                                    <i class="fa fa-user" ></i>&nbsp;{{ pass_request.status }}

                                                </a>
                                            </li><!-- end .ride-people -->
                                        {% endif %}


                                        <li class="ride-people">
                                            <a  class="tooltip-link" data-original-title="Bearable Cost"
                                                data-toggle="tooltip">
                                                ₦ {{ pass_request.bearable }} / ₦ {{ pass_request.ride.cost }}
                                            </a>
                                        </li>

                                        <li class="ride-people">
                                            <a href="{{ pass_request.user.get_absolute_url }}" class="tooltip-link" data-original-title="User"
                                               data-toggle="tooltip">
                                                {% if pass_request.user.sex == 'Male' %}
                                                    <i class="fa fa-male"></i> &nbsp;{{ pass_request.user.username }}
                                                {% elif pass_request.user.sex == 'Female' %}
                                                    <i class="fa fa-female"></i> &nbsp;{{ pass_request.user.username }}
                                                {% else  %}
                                                    <i class="fa fa-male"></i><i class="fa fa-female"></i>&nbsp;
                                                {% endif %}
                                            </a>
                                        </li>

                                        <li>

                                                {% if pass_request.status == 'approved' %}
                                                    <a href="{% url 'app:request_driver_deny' pass_request.id %}" style="cursor: pointer;" class="btn-danger btn-sm" >  <i class="fa fa-close "></i>Deny </a>
                                                {% elif pass_request.status == 'denied' %}
                                                    <a href="{% url 'app:request_driver_approve' pass_request.id %}" style="cursor: pointer;" class="btn-success btn-sm " >  <i class="fa fa-check "></i> Approve </a>
                                                {% else %}
                                                    <a href="{% url 'app:request_driver_approve' pass_request.id %}" style="cursor: pointer;" class=" btn-success btn-sm">  <i class="fa fa-check "></i>Approve </a>&nbsp;
                                                    <a href="{% url 'app:request_driver_deny' pass_request.id %}" style="cursor: pointer;" class="btn-danger btn-sm" >  <i class="fa fa-close "></i>Deny </a>
                                                {% endif %}



                                        </li>



                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->
                            {% endfor %}

                            <div class="clearfix"></div>

                            <!-- end .post-pagination -->

                        </div><!-- end .events-list -->

                    </div><!-- end .page-content -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

            </div><!-- end .row -->
        </div><!-- end .container -->

    </section><!-- end .main-content -->

{% endblock %}