{% extends 'app/user_template.html' %}

{% block username %}
    {{ request.user.username }}
{% endblock %}
{% block navigation %}
    {% if request.user.user_type == 'Driver' %}
        {% include 'app/driver_template.html' %}
    {% elif request.user.user_type == 'Passenger' %}
        {% include 'app/passenger_template.html' %}
    {% endif %}

{% endblock %}


{% block body%}

    <section class="main-content">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 ">

                    <div class="page-sub-title textcenter">
                        <h2>{{ user_requests }}</h2>
                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->

                </div>
                <br>

                <div class="col-sm-12 col-lg-12 col-md-12 col-space">
                    <div class="thumbnail">

                        <div class="caption text-center">
                            <h2><a href="{{ user_requests.get_absolute_url }}" >{{ user_requests }}</a></h2>
                            <h4>  <i class="fa fa-user"></i> Requester : <a href="{{ user_requests.user.get_absolute_url }}"> {{ user_requests.user.username }}</a></h4>


                                    <span>  <i class="fa fa-car"></i> Requested Ride:
                                       <a href="{{ user_requests.ride.get_absolute_url }}"> {{ user_requests.ride }}</a>
                                    </span>

                                     <span> <p> <i class="fa fa-money"></i> Bearable Cost:
                                         ₦ {{ user_requests.bearable }}/₦ {{ user_requests.ride.cost }}</p>
                                    </span>

                            {% if user_requests.status == 'approved' %}
                                <p class="ride-people">
                                    <a  class="tooltip-link " data-original-title="status"
                                        data-toggle="tooltip" style="color: green">
                                        <i class="fa fa-user" ></i>&nbsp;{{ user_requests.status }}

                                    </a>
                                </p><!-- end .ride-people -->
                            {% elif user_requests.status == 'denied' %}
                                <p class="ride-people">
                                    <a  class="tooltip-link " data-original-title="status"
                                        data-toggle="tooltip" style="color: red">
                                        <i class="fa fa-user" ></i>&nbsp;{{ user_requests.status }}

                                    </a>
                                </p><!-- end .ride-people -->
                            {% else %}
                                <p class="ride-people">
                                    <a  class="tooltip-link " data-original-title="status"
                                        data-toggle="tooltip" style="color: black">
                                        <i class="fa fa-user" ></i>&nbsp;{{ user_requests.status }}

                                    </a>
                                </p><!-- end .ride-people -->
                            {% endif %}

                            <h4>  <i class="glyphicon glyphicon-user"></i> Driver : <a href="{{ user_requests.ride.user.get_absolute_url }}"> {{ user_requests.ride.user.full_name }}</a></h4>





                        </div>
                    </div>

                </div>




            </div>
        </div>

    </section>

{% endblock %}