{% extends 'app/user_template.html' %}
{% load staticfiles %}
{% block username %}
    {{ request.user.username }}
{% endblock %}

{% block navigation %}
    {% include 'app/passenger_template.html' %}
{% endblock %}

{% block body %}
    <section class="main-content">

        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="page-sub-title textcenter">
                        <h2>All rides</h2>

                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->
                <div class="search-content">

                    <form action="{% url 'app:search_ride' request.user.id %}" method="post" novalidate autocomplete="off" class="idealforms searchtours">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="field">
                                    <input name="source" type="text" placeholder="source" >
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">

                                <div class="field">
                                    <input name="destination" type="text" placeholder="destination" >
                                </div>

                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">

                                <div class="field">
                                    <input name="date" type="text" placeholder="Date" class="datepicker">
                                </div>


                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">

                                <div class="field">
                                    <select id="destination" name="vehicle_type">
                                        <option value="default">Vehicle Type</option>
                                        <option>Car</option>
                                        <option>Bus</option>
                                        <option>Coaster</option>
                                        <option>Truck</option>
                                    </select>
                                </div>

                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">

                                <div class="field buttons">
                                    <button type="submit" class="btn btn-lg green-color">Search</button>
                                </div>

                            </div>

                        </div>


                    </form>
                </div><!-- end .search-content -->
                <div class="col-md-12 col-sm-12 col-xs-12">


                    <div class="page-content">

                        <div class="rides-list">
                            {% for ride in rides %}
                            <article class="ride-box clearfix">

                                <div class="ride-content">
                                    <h3><a href="{% url 'app:view_shared_ride' ride.id %}" ><i class="fa fa-map-marker"></i>&nbsp;{{ ride }}</a></h3>ride by <a href="{{ ride.user.get_absolute_url }}">{{ ride.user.full_name }}</a>
                                </div>

                                <ul class="ride-meta">

                                    <li class="ride-date">
                                        <a class="tooltip-link" data-original-title="Date and Time"
                                           data-toggle="tooltip">
                                            <i class="fa fa-calendar"></i>
                                            {{ ride.date }} at <i class="fa fa-clock-o"></i> {{ ride.start_time }}
                                        </a>
                                    </li><!-- end .ride-date -->

                                    <li class="ride-people">
                                        <a  class="tooltip-link" data-original-title="Number of seats"
                                           data-toggle="tooltip">
                                            <i class="fa fa-user"></i>
                                            {{ ride.no_pass }}
                                        </a>
                                    </li><!-- end .ride-people -->

                                    <li class="ride-people">
                                        <a  class="tooltip-link" data-original-title="Price"
                                           data-toggle="tooltip">
                                            ₦ {{ ride.cost }}/km
                                        </a>
                                    </li>

                                    <li class="ride-people">
                                        <a href="#" class="tooltip-link" data-original-title="Gender Preference"
                                           data-toggle="tooltip">
                                            {% if ride.sex == 'Male' %}
                                            <i class="fa fa-male"></i>
                                            {% elif ride.sex == 'Female' %}
                                            <i class="fa fa-female"></i>
                                            {% else  %}
                                                <i class="fa fa-male"></i>  <i class="fa fa-female"></i>
                                            {% endif %}
                                        </a>
                                    </li>

                                    <li>
                                        <a data-toggle="modal" data-target="#add{{ ride.id }}" style="cursor: pointer;">
                                            <i class="fa fa-plus"></i>
                                            Join Ride
                                        </a>
                                    </li>

                                    <div class="modal fade" id="add{{ ride.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div><!-- end .modal-header -->
                                                {% if error_message %}
                                                    <p class="error alert-danger"><strong>{{ error_message }}</strong></p>
                                                {% endif %}
                                                <div class="modal-body">
                                                    <form action="{% url 'app:request_ride' user.id ride.id %}" validate autocomplete="off" class="idealforms" method="post" >
                                                        {% csrf_token %}
                                                        <div class="log-header">
                                                            <span class="log-in">Request to join Ride</span>
                                                            <span class="">{{ ride }}</span>
                                                        </div>

                                                        <div class="field">
                                                            <input name="pick" type="text" placeholder="Pick up point" required>
                                                        </div>

                                                        <div class="field">
                                                            <input type="text" name="dest" placeholder="Destination" required>
                                                        </div>

                                                        <div class="field">
                                                            <input type="number" name="bearable" placeholder="Bearable cost (In Naira (₦))" required>
                                                        </div>

                                                        <div class="field buttons">
                                                            <button type="submit" class="submit btn green-color">JOIN</button>
                                                        </div>


                                                        <div class="clearfix"></div>

                                                    </form><!-- end .login -->
                                                </div><!-- end .modal-body -->

                                            </div><!-- end .modal-content -->
                                        </div><!-- end .modal-dialog -->
                                    </div><!-- end .modal -->




                                </ul><!-- end .ride-meta -->

                            </article><!-- end .ride-box -->
                            {% endfor %}

                            <div class="clearfix"></div>

                            <!-- end .post-pagination -->

                        </div><!-- end .events-list -->

                    </div><!-- end .page-content -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

            </div><!-- end .row -->
        </div><!-- end .container -->

    </section><!-- end .main-content -->
{% endblock %}