{% extends 'app/user_template.html' %}
{% load staticfiles %}
{% block username %}
    {{ request.user.username }}
{% endblock %}

{% block navigation %}
    {% include 'app/driver_template.html' %}
{% endblock %}

{% block body %}

    <section class="main-content">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12">

                    <div class="page-sub-title textcenter">
                        <h2>{{ user.username.upper }}'S SHARED RIDES </h2>
                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->

                </div>
                <br>
                {% if shared %}
                    {% for share in shared %}
                        <div class="col-sm-4 col-lg-3 col-md-3 col-space">
                            <div class="thumbnail">
                                <a >
                                    <img src="{% static 'app/img/ride.jpg' %}" class="img-responsive">
                                </a>

                                <div class="caption">
                                    <h2><a href="{% url 'app:view_shared_ride' share.id%}" >{{ share.start }} to {{ share.dest }}</a></h2>
                                    <h4><a href="{{ share.vehicle.get_absolute_url }}">Ride : {{ share.vehicle }}</a></h4>

                                    <p>Seating : {{ share.no_pass }} seats</p>

                                    <form action="{% url 'app:request_driver_view' user.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="share_id" value="{{ share.id }}"/>
                                        <button type="submit" class="btn btn-primary btn-sm panel-button">
                                            View Requests
                                        </button>
                                    </form>

                                    <form action="{% url 'app:delete_shared_ride' request.user.id share.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}

                                        <button type="submit" class="btn btn-danger btn-sm panel-button">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </form>


{#                                    <a href="" class="btn btn-success btn-sm" role="button" >#}
{#                                        <span class="glyphicon glyphicon-pencil"></span>#}
{#                                    </a>#}



                                </div>
                            </div>
                            {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                        </div>
                        &nbsp;
                    {% endfor %}

                {% else %}
                    <div class="col-sm-12">
                        <br>
                        <a href="{% url 'app:view_rides' request.user.id %}">
                            <button type="button" class="btn btn-success">
                                <span class="fa fa-group"></span>&nbsp; Share a Ride
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

    </section>

{% endblock %}