
<ul class="navigation">
                                            <li>
                                                <a href="{% url 'app:index' %}">Home</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'app:user_update' request.user.id %}">Edit Profile</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'app:add_ride' request.user.id %}">Add Ride</a>
                                            </li>

                                            <li>
                                                <a href="{% url 'app:view_rides' request.user.id %}">View/Share Rides</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'app:view_shared' request.user.id %}">View Shared Rides</a>
                                            </li>
                                        </ul>
